/* Основная страница */

#block-body{
    width: 1024px;
    height: 1180px; 
    margin: 0 auto;   
    background-color: #fad58e;
}

#block-header{
    width: 940px;
    height: 320px;
    margin:  0 auto;
}
#block-content{
    width: 940px;
    height: 640px;
    margin:  0 auto;
}
#block-footer{
    width: 940px;
    height: 160px;
    margin:  0 auto;
    background-image: url("../images/footer.jpg");
    background-size: cover;
}
#logo{
   width: 290px;
   height: 80px;
   margin:  0;
}
#contacty{
    width: 390px;
   height: 80px; 
   float: right;
   margin-top: -80px;
}
#phone{
    font:  normal bold 48px Arial;
    margin-top: -1px;
    text-align: right;
}
#mail{
    font:  normal 18px Arial;
    text-decoration: underline;
    margin-bottom: 2px;
    text-align: right;
}
#text{
    margin:25px 60px 25px 60px;
    font: normal 18px Arial;
    height: auto;
}
#zagolovok{
    font: normal bold 60px Arial;
}

#categoria{
   width: 220px;
   height: 230px;
   background: #FEE685;
   margin-right: 20px;
   margin-top: 40px ;
   float: left;
}
#categoria2{
   width: 220px;
   height: 230px;
   background: #FEE685;
   margin-top: 40px ;
   float: left;
}

#img-categoria{
   width: 200px;
   height: 200px;
   margin: 10px 10px -5px 10px
}
#cat{
    font: normal  18px Arial ;
    color: black;


}
#contacty-footer{
  width: 550px;
   height: 130px;
   padding-top: 5px;
   margin: 20px 0px -110px 0px;
}
#contacty-footer>p{
    font: normal  18px Arial ;
    color: #FEE685;
    margin: 5px 0 0 60px;
}
#block-product{
    width: 740px;
    min-height: 680px;
    margin-left: 42px;
    border: 1px solid black;

}
#block-right{
    width: 195px;
    min-height: 680px;
    margin-right: 42px;
    margin-top: -680px;
    float: right;
    border: 1px solid black;
}

#menu-right{
    margin: 20px;
}

#globus{
    margin: 5px;
}
.block-raznovidnoct{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    font: normal 30px Arial;
    background-color: #FEE685;
}
.menu-komplekt{
    float: right;
    margin-top: -200px;
    margin-right: 20px;
}
.block-raznovidnoct h1{ 
    margin-top: 35px;
}   
#pic{
    width: 300px;
    height: 300px;
} 
#block-product strong{
    color: red;
}
#opisanie{
    float: right;
}

#schetchik{
    float: right;
    padding-right: 20px;
}
/* Пицца */
#block-body-pizza{
    width: 1024px;
    height: 3650px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-pizza{
    width: 940px;
    height: 3150px;
    margin:  0 auto;
}
#block-pizza p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-pizza h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-pizza h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-pizza th{
    border: 3px double black;
    background: #F36E21;
}
/* Бургеры */
#block-body-burgery{
    width: 1024px;
    height: 2350px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-burgery{
    width: 940px;
    height: 1850px;
    margin:  0 auto;
}
#block-burgery p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-burgery h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-burgery h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-burgery th{
    border: 3px double black;
    background: #F36E21;
}


/* С пыла-жару */

#block-body-spila{
    width: 1024px;
    height: 1850px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-spila{
    width: 940px;
    height: 1350px;
    margin:  0 auto;
}
#block-spila p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-spila h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-spila h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-spila th{
    border: 3px double black;
    background: #F36E21;
}
/* На углях */

#block-body-naugliah{
    width: 1024px;
    height: 1850px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-naugliah{
    width: 940px;
    height: 1350px;
    margin:  0 auto;
}
#block-naugliah p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-naugliah h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-naugliah h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-naugliah th{
    border: 3px double black;
    background: #F36E21;
}
