/* Основная страница */

#block-body{
    width: 1024px;
    height: 1165px; 
    margin: 0 auto;   
    background-color: #fad58e;
}

#block-header{
    width: 940px;
    height: 320px;
    margin:  0 auto;
}
#block-content{
    width: 940px;
    height: 640px;
    margin:  0 auto;
}
#block-footer{
    width: 940px;
    height: 160px;
    margin:  0 auto;
    background-image: url("../images/footer.jpg");
    background-size: cover;
}
#logo{
   width: 120px;
   height: 80px;
   margin:  0;
}
#time{
  width: 700px; 
  float: left;
  margin-top: -20px;
  margin-left: 120px; 
font-family: Arial;
	font-size: 18px;
	color: #F36E21;
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
#contacty{
    width: 440px;
   height: 80px; 
   float: right;
   
   margin-top: -80px;
}
#phone{
    font:  normal bold 48px Arial;
    margin-top: -1px;
    text-align: right;
}
#mail{
    font:  normal 18px Arial;
    text-decoration: underline;
    margin-bottom: 2px;
    text-align: right;
}
#text{
    margin:25px 60px 25px 60px;
    font: normal 18px Arial;
    height: auto;
}
#zagolovok{
    font: normal bold 60px Arial;
}

#categoria{
   width: 220px;
   height: 230px;
   background: #FEE685;
   margin-right: 20px;
   margin-top: 40px ;
   float: left;
}
#categoria2{
   width: 220px;
   height: 230px;
   background: #FEE685;
   margin-top: 40px ;
   float: left;
}

#img-categoria{
   width: 200px;
   height: 200px;
   margin: 10px 10px -5px 10px
}
#cat{
    font: normal  18px Arial ;
    color: black;


}
#contacty-footer{
  width: 550px;
   height: 130px;
   padding-top: 5px;
   margin: 20px 0px -110px 0px;
}
#contacty-footer>p{
    font: normal  18px Arial ;
    color: #FEE685;
    margin: 12px 0 0 60px;
}


#schetchik{
    float: right;
    margin-right: 40px;
    margin-bottom: -20px;
}
/* Пицца */
#block-body-pizza{
    width: 1024px;
    height: 3590px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-pizza{
    width: 940px;
    height: 3090px;
    margin:  0 auto;
}
#block-pizza p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-pizza h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-pizza h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-pizza th{
    border: 3px double black;
    background: #F36E21;
}
/* Бургеры */
#block-body-burgery{
    width: 1024px;
    height: 2058px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-burgery{
    width: 940px;
    height: 1558px;
    margin:  0 auto;
}
#block-burgery p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-burgery h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-burgery h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-burgery th{
    border: 3px double black;
    background: #F36E21;
}


/* Блины*/
#block-body-bliny{
    width: 1024px;
    height: 1828px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-bliny{
    width: 940px;
    height: 1328px;
    margin:  0 auto;
}
#block-bliny p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-bliny h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-bliny h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-bliny th{
    border: 3px double black;
    background: #F36E21;
}

/* С пыла-жару */

#block-body-spila{
    width: 1024px;
    height: 1820px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-spila{
    width: 940px;
    height: 1320px;
    margin:  0 auto;
}
#block-spila p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-spila h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-spila h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-spila th{
    border: 3px double black;
    background: #F36E21;
}
/* На углях */

#block-body-naugliah{
    width: 1024px;
    height: 1820px; 
    margin: 0 auto;   
    background-color: #fad58e;
    }
#block-naugliah{
    width: 940px;
    height: 1320px;
    margin:  0 auto;
}
#block-naugliah p{
    width: 450px;
    height: 80px;
    background: black;
    color: #FEE685;
    margin: 0 auto; 
}
#block-naugliah h3{
    width: 450px;
    background: #FEE685;
    color: #F36E21;
    margin-bottom: 5px;
    margin: 0 auto;   
}
#block-naugliah h2{
    width: 450px;
    background: #F36E21;
    font-size: larger;
    color: black;
    margin-top: 5px;
}
#block-naugliah th{
    border: 3px double black;
    background: #F36E21;
}
/* Основная страница */

.menu {
    width: 1024px;
    height: 40px;
  list-style: none; /*убираем маркеры списка*/
  margin: 0 auto; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:5px; /*делаем отступ сверху*/
  background:#F36E21; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
  border: 1px double black;
}
.menu a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#F36E21; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #F36262; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.menu a:hover {
  background:#fad58e;/*добавляем эффект при наведении*/
}
.menu li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}
